<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogMonitor.Properties.Settings>
            <setting name="Log_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Xml_Destination_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Notification_Strings_Checked" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>INFO</string>
                        <string>WARN</string>
                        <string>FATAL</string>
                        <string>DEBUG</string>
                        <string>ERROR</string>
                        <string>VALIDATION_ERROR</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="isMonitoring" serializeAs="String">
                <value>False</value>
            </setting>
        </LogMonitor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LogMonitor.Properties.Settings>
            <setting name="Notification_Strings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>INFO</string>
                        <string>WARN</string>
                        <string>FATAL</string>
                        <string>DEBUG</string>
                        <string>ERROR</string>
                        <string>VALIDATION_ERROR</string>
                    </ArrayOfString>
                </value>
            </setting>
        </LogMonitor.Properties.Settings>
    </applicationSettings>
</configuration>